@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');


.navbarItems{
    display: flex;
    flex-direction: row;
    margin-top: -70px;
}
.whatsupperLogo{
    margin-left: -5px; 
}

.navbarLinks{
    display: inline-block;
    padding-top: 1.7rem;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    /* color: #333;
    transition: color 0.3s ease;  */
} 

/* .navbarLinks:hover{
    color: #0070f3; 
}

.navbarLinks:active{
    color: #ff4500; 
} */


.link1{
    padding-left: 250px;
    padding-right: 40px;
    flex-direction: none;
    text-decoration: none;
    /* color: black; */
    color: white; 
}

.link2{
    margin-left: 8rem;
    flex-direction: none;
    text-decoration: none;
    /* color: black; */
    color: white;
}

.link3{
    text-decoration: none;
    margin-left: 2rem;
    padding-left: -20px;
    /* color: black; */
    color: white;
    /* pls adjust for toggle  */
}

.clicked{
    font-weight: 700;
}