@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');


.navbarItems{
    display: flex;
    flex-direction: row;
    padding-left: 3%;
}
.whatsupperLogo{
    padding: 2.5%;
}

.navbarLinks{
    display: inline-block;
    padding-top: 3rem;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    
} 

.link1{
    padding-left: 18rem;
    flex-direction: none;
    text-decoration: none;
    color: black;
}

.link2{
    margin: 8rem;
    flex-direction: none;
    text-decoration: none;
    color: black;
}

.link3{
    text-decoration: none;
    color: black;
}