:root {
  /* primary */
  --asparagus: #629560;
  --offWhite: #F1EFEF;
  --davysGray: #4F4F4F;
  --offBlack: #221F1F;
  /* accent */
  --jasmineYellow: #FFDA84;
  --jadeGreen: #9FB9A0;
  --olivine: #96AF65;
  --lightGreen: #B4C492;
  --lightGrey: #D3D3D3;
  --discount: #CC0000;
}

/* dark + light mode section */

.light{
  background-color: white;
  color: var(--offBlack);
}

.dark{
  background-color: var(--offBlack);
  color: var(--offWhite);
}

.anim{
  transition: 0.2s ease-in-out;
}