 .main {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: var(--padding);
   min-height: 100vh;
 }

 .header{
  color: var(--off-black);
  font-family: Manrope;
  width: 100%;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.0875rem;
 }

 .titleImg{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15rem;
 }

 .cta {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 5rem;
 }

 .carouselContainer{
  display: flex;
  flex-direction: column;
  width: 85%;
 }

 .carouselHeader{
  justify-content: left;
  margin-top: 20rem;
  color: var(--off-black);
  font-family: Manrope;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
 }