 .main {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 6rem;
   min-height: 100vh;
 }
 
 .gridContainer {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}